<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head">
    <meta charset="UTF-8">
    <title>Temporal</title>
</head>

<body class="d-flex flex-column min-vh-100">
    
    <!-- NAVBAR -->
    <header th:replace="fragments/template :: navbar"></header>

    <!--CONTENIDO-->

    <!-- PIE DE PÁGINA -->
    <footer th:replace="fragments/template :: footer"></footer>
    
    <!-- ⚡ SCRIPTS (IMPORTANTE para dropdowns) -->
    <div th:replace="fragments/template :: scripts"></div>
    
</body>
</html>